header{
  background-color: greenyellow;  
  color: navy;
}

main{

    background-color: greenyellow;
    color: navy;
}

footer{

   background-color: greenyellow;
   color: navy; 
   
}

nav{
  background-color: rgb(100, 196, 234);
  border-style: solid;
  border: 1px;
  padding: 0;
  margin: 0;
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li{
  float: left;
}

nav ul li a{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover{
  background-color: rgb(115, 248, 7);
}